<!DOCTYPE html>
<html lang="en">

<head>

    <title>List Category</title>
<!--    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="icon" th:href="@{/assets/images/favicon.ico}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" th:href="@{/assets/fonts/fontawesome/css/fontawesome-all.min.css}">
    <!-- animation css -->
    <link rel="stylesheet" th:href="@{/assets/plugins/animation/css/animate.min.css}">


    <!-- vendor css -->
    <link rel="stylesheet" th:href="@{/css/HomeAdmin.css}">
</head>

<body class="">
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light brand-blue ">
    <div class="navbar-wrapper ">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <img style="max-width: 60px" src="../../../upload/static/images/gallery/Logo.png" alt="" class="logo images">
                <img style="max-width: 50px" src="../../../upload/static/images/gallery/Logo.png" alt="" class="logo-thumb images">
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item">
                    <a href="../admin/Home" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-home"></i></span><span class="pcoded-mtext">Home</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Orders</label>
                </li>
                <li class="nav-item">
                    <a href="../admin/ListOrders" class="nav-link"><span class="pcoded-micon"><i
                            class="feather icon-file-text"></i></span><span
                            class="pcoded-mtext">List Orders</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Users</label>
                </li>
                <li class="nav-item">
                    <a href="../admin/ListUser" class="nav-link"><span class="pcoded-micon"><i
                            class="fas fa-users"></i></span>
                        <span class="pcoded-mtext">List Users</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Products</label>
                </li>
                <li class="nav-item pcoded-hasmenu active">
                    <a href="#" class="nav-link"><span class="pcoded-micon"><i
                            class="fas fa-shopping-bag"></i></span><span class="pcoded-mtext">Related to products</span></a>
                    <ul class="pcoded-submenu">
                        <li class="nav-item">
                            <a href="../admin/ListProducts" class="nav-link"><span class="pcoded-micon"><i
                                    class="fas fa-book"></i></span><span class="pcoded-mtext">List Books</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="../admin/ListAuthor" class="nav-link"><span class="pcoded-micon"><i
                                    class="fas fa-user-graduate"></i></span><span
                                    class="pcoded-mtext">List Authors</span></a>
                        </li>
                        <li class="nav-item active">
                            <a href="../admin/ListCategory" class="nav-link"><span class="pcoded-micon"><i
                                    class="fas fa-list"></i></span><span class="pcoded-mtext">Categories</span></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Pages</label>
                </li>
                <li class="nav-item"><a href="sample-page.html" class="nav-link"><span class="pcoded-micon"><i
                        class="far fa-newspaper"></i></span><span class="pcoded-mtext">Posts</span></a></li>
                <li class="nav-item "><a href="#" class="nav-link"><span class="pcoded-micon"><i
                        class="fas fa-store-alt"></i>
                </span><span class="pcoded-mtext">Store</span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="#"><span></span></a>
        <a href="index.html" class="b-brand">
            <img style="max-width: 60px" src="../../../upload/static/images/gallery/Logo.png" alt="" class="logo images">
            <img style="max-width: 50px" src="../../../upload/static/images/gallery/Logo.png" alt="" class="logo-thumb images">
        </a>
    </div>
    <a class="mobile-menu" id="mobile-header" href="#">
        <i class="feather icon-more-horizontal"></i>
    </a>
    <div class="collapse navbar-collapse">
        <a href="#" class="mob-toggler"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="main-search open">
                    <form method="get" class="input-group">
                        <input  style="width: 200px" th:value="${searchCategory}" name="searchCategory" type="text" id="m-search" class="form-control"
                               placeholder="Search by ID or Name...">
                        <a href="#" class="input-group-append search-close">
                            <i class="feather icon-x input-group-text"></i>
                        </a>
                        <button type="submit" class="input-group-append search-btn btn btn-primary">
                            <i class="feather icon-search input-group-text"></i>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
        <ul  class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon feather icon-settings"></i>
                    </a>
                    <div style="padding: 0" class="dropdown-menu dropdown-menu-right profile-notification">
                        <div style="border-bottom: 1px solid #ccc" class="pro-head">
                            <img style="max-width: 40px ; margin-left: 20px; margin-right: 10px" src="../../../upload/static/images/gallery/user.jpg" class="img-radius" alt="User-Profile-Image">
                            <span style="font-weight: bold" >John Doe</span>
                        </div>
                        <ul style="padding: 0" class="pro-body">
                            <li style="list-style-type: none"><a href="#" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                            <li style="list-style-type: none"><a href="/logout"  onclick="return confirm('Do you want to log out ?');" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Log
                                out</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5>Home</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html"><i
                                                    class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="#">List Category</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="card table-card">
                                <div style="display: flex; justify-content: space-between; align-items: center" class="card-header">
                                    <h5>List Category</h5>
                                    <a style="line-height: 25px" href="/admin/NewCategory" class="btn btn-primary btn-sm" > <i class="fas fa-plus-circle"></i>Add Category</a>
                                </div>
                                <div class="card-body table-border-style">
                                    <div class="table-responsive">
                                        <div class="session-scroll" style="height: 600px; position: relative">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Image</th>
                                                    <th>Name</th>
<!--                                                    <th>Description</th>-->
                                                    <th>Created Date</th>
                                                    <th>Total products</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="table_body_user" th:each="obj:${categories}" th:object="${obj}">
                                                    <td class="cl-user font-weight-bold" th:text="*{getId()}"></td>
                                                    <td th:if="*{getAvatar()!=null and getAvatar() != ''}"><img style="border-radius: 0"
                                                            th:src="@{'../../../upload/static/images/gallery/' + *{Avatar} }"
                                                            alt=""></td>
                                                    <td class="cl-user" th:text="*{getName()}"></td>
                                                    <td class="cl-user" th:text="*{getCreatedAtFormat()}"></td>
                                                    <td class="cl-user" th:text="*{getProductList().size()}"></td>
<!--                                                    <td class="cl-user" style=""-->
<!--                                                        th:if="*{getDescription()!=null and getDescription() != ''}"-->
<!--                                                        th:text="*{ getDescription()}"></td>-->
<!--                                                    <td class="cl-user"-->
<!--                                                        th:if="*{getDescription()==null or getDescription() == ''}">Blank-->
<!--                                                    </td>-->
                                                    <td class="cl-user"><a th:href="@{'/admin/detail-category/' + *{id}}">View</a></td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/pcoded.min.js"></script>


</body>

</html>