.row-pb-lg {
    padding-bottom: 6em !important;
}

.process-wrap {
    width: 100%;
    display: block;
    float: left;
}

.process {
    position: relative;
    float: left;
    width: 33.333%;
    z-index: 0;
}

.process.active p {
    border: 2px solid #f0f0f0;
}

.process p {
    position: relative;
    width: 80px;
    height: 80px;
    display: table;
    border: 2px solid #fafafa;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
    z-index: 1;
    font-weight: 400;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: #000;
    font-weight: 400;
}

.process-wrap {
    width: 100%;
    display: block;
    float: left;
}

.process {
    position: relative;
    float: left;
    width: 33.333%;
    z-index: 0;
}

.process:after {
    position: absolute;
    top: 35%;
    right: -37%;
    content: '';
    width: 100%;
    height: 1px;
    background: #f0f0f0;
    z-index: -1;
}

.process:last-child:after {
    display: none;
}

.process p {
    position: relative;
    width: 80px;
    height: 80px;
    display: table;
    border: 2px solid #fafafa;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #fff;
    z-index: 1;
    font-weight: 400;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.process p span {
    display: table-cell;
    vertical-align: middle;
}

.process h3 {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.process.active p {
    border: 2px solid #f0f0f0;
}

.process.active p span {
    color: #88c8bc;
}

.cart-detail {
    background: whitesmoke;
    padding: 2em 3em;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    .cart-detail {
        padding: 1em;
    }
}

.cart-detail h2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.cart-detail ul {
    width: 100%;
    padding: 0;
    float: left;
    margin: 0;
}

.cart-detail ul li {
    font-weight: 400;
    width: 100%;
    display: block;
    float: left;
}

.cart-detail ul li span {
    margin-bottom: 15px;
    display: block;
    float: left;
    border-bottom: 1px solid #e6e6e6;
    width: 120px;
}

.cart-detail ul li span:first-child {
    width: calc(100% - 270px);
}

.cart-detail ul li span:last-child {
    width: 70px;
}

.form-group {
    margin-bottom: 20px;
    display: block;

}

label {
    cursor: default;
    margin: 0;
    margin-left: 10px;
}

.radio, .checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

@media (min-width: 768px) {
    .col-md-12 {
        -webkit-box-flex: 0;
        /*-ms-flex: 0 0 100%;*/
        /*flex: 0 0 100%;*/
        max-width: 100%;
    }
}

.m-b-50 {
    margin-bottom: 40px;
}

